<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryMapper">


    <select id="selectAll" resultType="com.example.entity.Category">
        select * from category
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.example.entity.Category" useGeneratedKeys="true">
        insert into category(id, name)
        values (#{id}, #{name})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Category">
        update category set name = #{name}
        where id = #{id}
    </update>

</mapper>